<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Chiarel{% endblock %}</title>

        <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Lato&display=swap" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-64x64.png') }}" sizes="64x64">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>


{% macro display_menu_side() %}


{% endmacro display_menu_side %}


{% macro display_footer() %}

<footer>
    <ul>
        <li><a href="https://www.instagram.com/chiara_chiarel/" alt="Instagram">{{ source('/icons/instagram.svg') }}</a></li>
        <li><a href="https://twitter.com/chiara_chiarel" alt="Twitter">{{ source('/icons/twitter.svg') }}</a></li>
        <li>{{ source('/icons/rss.svg') }}</li>
    </ul>
    <p>Chiarel @ Copyright 2020 - <a href="{{ path('mentions-legales') }}">Mentions légales</a></p>
    <div>{{ source('/icons/menu_burger.svg') }}</div>
</footer>

{% endmacro display_footer %}